.container {
    flex-direction: row;
}
.opcje {
    background: #8D8D8D;
    width: 5em;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dane {
    height: inherit;
    width: 75em;
    background: #EEEEEE;
    display: flex;
    flex-direction: column;
}
.opcjeButton {
    color: white;
    background: #8D8D8D;
    margin-top:4em;
    margin-bottom:4em;
}

.opcjeButton:hover {
    background: rgb(165, 165, 165);
}
