body {
    background-color: #cccccc;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.menu {
    background: #8A8A8A;
    opacity: 0.9;
    width: inherit;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
    padding-left: 5em;
}
.menubutton {
    margin-left: 10em;
    margin-right: 8em;
    background: #8A8A8A;
    font: Regular 24px/12px Arial;
    color: white;
    border-radius: 4px;
}
.menubutton:hover,#addnew:hover {
    background: #9b9b9b;
}

#dropdown {
    display: none;
    position: absolute;
    background-color: #8a8a8a;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  #dropdown a {
    color: White;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  #dropdown a:hover {background-color: #eeeeee}
  
  /* Show the dropdown menu on hover */
  #profile:hover #dropdown {
    display: block;
  }

#profile {
    transform: translateX(4em);
}
#profile >img {
    width: 1.3em;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
    height: inherit;
}
#addnew {
    border-radius: 4px;
    background: #8F8F8F;
    color: white;
    height: 2em;
}
.list {
    background: #cccccc;
    width: 52em;
    margin-left: 3em;
    margin-right: 3em;
    height: inherit;
}
.searchinput {
    background: #cccccc;
    border: 1px solid #393939;
    border-radius: 4px 0px 0px 4px;
}
.search {
    background: #676767 0% 0% no-repeat padding-box;
    border: 1px solid #393939;
    border-radius: 0px 4px 4px 0px;
    height: 1.52em;
    margin-left: -0.2em;
}
.search > img {
    width: 1em;
}
.parking {
    background: #EEEEEE;
    height: 18em;
    display: flex;
    flex-direction: column;
}
.nazwa {
    margin-left: 4em;
    display: flex;
    font-family: Arial;
    flex-direction: column;
}
#name {
    font-size: 1.2em;
}
#delete {
    width: 4em;
    background: #676767;
    border-radius: 4px;
    font-size: 18px;
    margin-top: 1em;
    margin-left: 40em;
}
#delete:hover,.search:hover {
    background: #777777;
}
.opis {
    margin-top: 2em;
    margin-left: 4em;
    margin-right: 4em;
    height: 6em;
}
#description {
    color: #676767;
}
#next {
    margin-top: 1em;
    width: 6em;
    height: 2.2em;
    justify-content: center;
    margin-left: 40em;
    background: #8F8F8F;
    border-radius: 4px;
}
#next > img {
    margin-top: 0.2em;
    width: 1.4em;
}
#next:hover {
    background: #9b9b9b;
}
@media only screen and (max-width: 992px) {
    .menu {
        padding: 0.5em;
        padding-left: 0.5em;
    }
    .menubutton {
        margin-left: 2em;
        margin-right: 1em;
        font-size: 10px;
        width: fit-content;
        border-radius: 2px;
    }
    #dropdown{
        right: 0;
    }
    #profile {
        transform: translateX(0);
    }
    .container {
        flex-direction: column;
    }
    #addnew{
        margin-left: 6em;
        width: 6em;
        font-size: 12px;
    }
    .list {
        width: inherit;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1em;
    }
    .searchdiv {
       position: absolute;
       top: 4em;
       left: 30em;
    }
    #delete {
        margin-left: 38em;
    }
}
@media only screen and (max-width: 600px) {
    .menu {
        padding: 0.5em;
        padding-left: 0.5em;
    }
    .menubutton {
        margin-left: 2em;
        margin-right: 1em;
        font-size: 10px;
        width: fit-content;
        border-radius: 2px;
    }
    #profile {
        transform: translateX(0);
    }
    .container {
        flex-direction: column;
    }
    #addnew{
        margin-left: 3em;
        width: 6em;
        font-size: 12px;
    }
    .list {
        width: inherit;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1em;
    }
    .searchdiv {
       position: absolute;
       top: 4em;
       left: 10em;
    }
    .parking {
        height: 12em;
    }
    .nazwa {
        margin-left: 2em;
        font-size: 0.7em;
    }
    #name {
        font-size: 1.2em;
    }
    #delete {
        width: 4em;
        border-radius: 2px;
        font-size: 13px;
        margin-top: 0.5em;
        margin-left: 23em;
    }
    .opis {
        font-size: 0.7em;
        margin-left: 2em;
        margin-right: 2em;
    }
    #next {
        margin-top: 0.5em;
        width: 5em;
        height: 2em;
        margin-left: 18em;
        border-radius: 2px;
    }
}