.parking {
    height: inherit;
    width: 52em;
}
.top {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top:1em;
}
.nazwa {
    margin-left: -8em;
    margin-right: 10em;
}
.przyciski {
    margin-top:1em;
}

@media only screen and (max-width: 600px) {
    .parking {
        width: inherit;
    }
    .nazwa {
        margin-left: 0;
        margin-right: 5em;
    }
}