<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Business</title>
    <link rel="Stylesheet" href="../Style/parkingsstyle.css">
    <link rel="Stylesheet" href="../Style/businessstyle.css">
</head>
<body>
    <div class="menu">
        <button class="menubutton" id="parkings" style="border: 2px solid #8A8A8A">PARKINGS</button>
        <button class="menubutton" id="employees" style="border: 2px solid #8A8A8A">EMPLOYEES</button>
        <button class="menubutton" id="business" style="border: 2px solid #CCCCCC">BUSINESS</button>
        <button class="menubutton" id="profile" style="border: 2px solid #8A8A8A"><img src="../Style/img/profile.svg"></button>
    </div>
    <div class="container">
        <div class="opcje">

        </div>
        <div class="dane">

        </div>
    </div>
</body>
</html>