<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parking Info</title>
    <link rel="Stylesheet" href="../Style/parkingsstyle.css">
    <link rel="Stylesheet" href="../Style/parkinginfostyle.css">
</head>
<body>
    <div class="menu">
        <button class="menubutton" id="parkings" style="border: 2px solid #CCCCCC">PARKINGS</button>
        <button class="menubutton" id="employees" style="border: 2px solid #8A8A8A">EMPLOYEES</button>
        <button class="menubutton" id="business" style="border: 2px solid #8A8A8A">BUSINESS</button>
        <button class="menubutton" id="profile" style="border: 2px solid #8A8A8A"><img src="../Style/img/profile.svg"></button>
    </div>
    
    <div class="container">
        <div class="parking">
            <div class="top">
                <div class ="nazwa">
                    <text id="name"><strong>Super Parking</strong></text>
                    <text id="address">Warszawska 23, Kraków</text>
                </div>
                <div class="przyciski">
                    <button id="info" style="border: 2px solid #CCCCCC; border-radius: 4px">info</button>
                    <button id="booking" style="border: 2px solid #CCCCCC; border-radius: 4px">booking</button>
                </div>
            </div> 
            <text style="margin-left:1em;margin-right:1em;color:#CCCCCC"><hr></text>
        </div>
    </div>
</body>
</html>