<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignUp</title>
    <link rel="Stylesheet" href="../Style/style.css">
    <link rel="Stylesheet" href="../Style/signstyle.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../Style/img/iconcar_park.svg" alt="logo"> 
            <text id="napis" ><strong>parknet</strong></text>
        </div>
        <div class="input" id="leftin">
            <p>E-mail*</p>
            <input class="field" id="email">
            <p>Password*</p>
            <input class="field" id="password">
            <p>First Name*</p>
            <input class="field" id="name">
            <p>Company Name</p>
            <input class="field" id="company">
            <p>City*</p>
            <input class="field" id="city">
            <p>Product Key*</p>
            <input class="field" id="key">
            <button class="field" id="signup"><text style="color:#ffffff; font:Bold 20px/10px Arial">Sign Up</text></button>
        </div>
        <div class="input" id="rightin">
            <p>Confirm Password*</p>
            <input class="field" id="confirm">
            <p>Surname*</p>
            <input class="field" id="surname">
            <p>Address*</p>
            <input class="field" id="address">
            <p>Zip Code*</p>
            <input class="field" id="zipcode">
        </div>
    </div>
</body>
</html>